* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc
}

legend {
  padding: 4px;
}

input {
  width: 91%;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

p.note {
  width: 20vw;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5;
}

h1 {
  margin-bottom: 44px;
}